/* @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'roboto' sans-serif;
}

body{
    overflow-x: hidden;
    
}

nav{
    height: 6rem;
    width: 100vw;
    background-color: transparent;
    box-shadow: 0 3px 20px rgba(146, 108, 108, 0.2);
    display: flex;
    position: relative;
    z-index: 10;
}

/*Styling logo*/
.logo{
    /* padding:1vh 1vw; */
    align-items: center;
    padding-left: 30px;
}
.logo img {
    height: 7rem;
    width: 18rem;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    color: white;
}
/* .nav-links li a:hover {
    color: #61DAFB;
} */
.nav-links li a{
    /* position: relative; */
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: relative;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
}

.marquee{
   max-width: 50px;
   max-height: 30px;
}

/*Styling Buttons*/
.login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    /* border-radius: 1em; */
    padding: 0.9rem 1.9rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;
    color: white;

}
.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    /* transition: all ease-in-out 350ms; */
}
/* .join-button{
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}
.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
} */

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: relative;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: relative;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}



.header-head{
    background-image: url(https://res.cloudinary.com/diapyzzws/image/upload/v1685620028/images/shutterstock_186964970.jpg);
    background-size: cover;
}

/* ==============scroll up====================== */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover{
    background-color: orange;
  }

.header1{
    width: 100%;
    height: 30px;
    /* background-color: orange; */
    background-color: transparent;
}

P{
    font-size: 25PX;
    font-weight: bolder;
}
.header2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: transparent;
}
.nav-list{
     display: flex;
     justify-content: space-around;
     gap: 20px;  
}
.nav2{
    display: none;
}
.nav-link, a{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.nav-link, a:hover{
    color: orange;
}

.nav3{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.nav-signin a i{
    font-size: 25px;
}
.nav-menu a i{
    font-size: 30px;
}

.aboutpage{
    width: 100%;
    height: 330px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: orange;
}

.about-h1 h1{
    font-size: 60px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.about-text h3{
    font-size: 30px;
}

/* -----------section 0--------------- */
.sect0{
    height: 1250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.destination-h1 h1{
    font-size: 30px;
}
.destination-h1 h1 strong{
    font-size: 30px;
    color: orange;
}

.destination-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  
}

.img1{
    width: 360px;
    height: 300px;
    background-image: url(https://images.unsplash.com/photo-1552832230-c0197dd311b5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cm9tZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    border-radius: 15px;

}
.img2{
    width: 360px;
    height: 300px;
    background-image: url(https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGFyaXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    border-radius: 15px;

}
.img3{
    width: 360px;
    height: 300px;
    background-image: url(https://images.unsplash.com/photo-1486299267070-83823f5448dd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8bG9uZG9ufGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=600);
    border-radius: 15px;

}
.img1 h2{
    width: 100px;
    height: 30px;
    background-color: orange;
    text-align: center;
    display: flex;
    justify-content: center;
    border-top-left-radius: 15px;
}
.img2 h2{
    width: 100px;
    height: 30px;
    background-color: orange;
    text-align: center;
    display: flex;
    justify-content: center;
    border-top-left-radius: 15px;
}
.img3 h2{
    width: 100px;
    height: 30px;
    background-color: orange;
    text-align: center;
    display: flex;
    justify-content: center;
    border-top-left-radius: 15px;
}

.img-h1 h1{
    font-size: 30px;
}
.img-h1 h1 strong{
    font-size: 30px;
    color: orange;
}

.img-p p{
    font-size: 20px;
}

/* about us */

.about-text h3{
    text-align: center;
    color: white;
}

.about-misson{
    margin-top: 20px;
}
.about-misson h1{
    font-size: 30px;
    margin-top: 20px;
}

/* --------offer-------- */

.offer{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.offer h1{
    font-size: 55px;
    color: rgb(0, 0, 0);
}
.offer h1 strong{
    font-size: 55px;
    color: orange;
}


/* --------sect 1------------ */
.sect1{
    width: 100%;
    height: 450px;
    /* background-image: url(https://res.cloudinary.com/diapyzzws/image/upload/v1685620028/images/shutterstock_186964970.jpg); */
    background-color: transparent;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.sect1-h1 h1{
    font-size: 50px;
    text-align: center;
}


.sect1-p p{
    font-size: 30px;
    font-weight: bolder;
}

 .input{
    padding: 20px 35px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: 1s;

}
/* .sect1-p p:hover{
   
} */

 .input:hover{
    background-color: orange;
}

/* -----------SECTION 2----------- */
.sect2{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.571);
    align-items: center;
    justify-content: space-around ;
}
.sect2-container{
    height: 100px;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    gap: 20px;
    overflow:scroll;
     overflow-y:scroll;
    overflow-x: scroll; 
}
.button1{
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    cursor: pointer;

}


.button1:hover{
    background-color: orange;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);

}

/* -------sect 3------ */


.sect3{
    width: 100%;
    height: 1550px;
    background-color: rgb(255, 255, 255);
}

.tag{
    width: 200px;
    height: 50px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 25px;
}

.sect3-container{
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction:column; 
    gap: 20px;
    justify-content:center;
    align-items: center;

}


.cont1{
    width: 400px;
    height: 450px;
    background-color:transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}


.s3-img i{
    float:left;
}
.s3-img1{
    width: 390px;
    height: 250px;

    align-self: center;
    border-radius: 10px;
    background-image: url(https://a0.muscache.com/im/pictures/bd7f086b-b006-4c4b-9eab-c1f42b1d3ffb.jpg?im_w=720);
    background-size: cover;
}
.s3-img2{
    width: 390px;
    height: 250px;

    align-self: center;
    border-radius: 10px;
    background-image: url(https://a0.muscache.com/im/pictures/fdd37f6c-1c68-497d-8071-0265617f35a5.jpg?im_w=320);
    background-size: cover;
}
.s3-img3{
    width: 390px;
    height: 250px;

    align-self: center;
    border-radius: 10px;
    background-image: url(https://a0.muscache.com/im/pictures/miso/Hosting-599139323934576574/original/2af601df-fdee-4ad5-975c-5e77c97c3901.jpeg?im_w=720);
    background-size: cover;
}





.s3-text{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -20px;
    gap: 20px;
   
}


.s3-p1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    
}
.s3-p1 p{
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.s3-p1 p:hover{
    color: orange;
}
.s3-p2 p{
    font-weight: lighter;
    color: rgb(0, 0, 0);
}
.s3-p3 h3{
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);

}


.s3-p2, .s3-p3{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* -------sect 4------ */


.sect4{
    width: 100%;
    height: 1550px;
    background-color: rgb(255, 255, 255);
}

.tag2{
    width: 200px;
    height: 50px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.sect4-container{
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column; 
    gap: 20px;
    justify-content: center;
    align-items: center;

}


.cont2{
    width: 400px;
    height: 450px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.s4-img i{
    float:left;
}
.s4-img1{
    width: 390px;
    height: 250px;

    align-self: center;
    border-radius: 10px;
    background-image: url(https://a0.muscache.com/im/pictures/e17c7207-25e4-4824-a03b-d2b66847ebed.jpg?im_w=960);
    background-size: cover;
}

.s4-img2{
     background-image: url(https://a0.muscache.com/im/pictures/miso/Hosting-13903824/original/82d996fb-d7c4-46a8-a713-febd281cd69f.jpeg?im_w=720);
    background-size: cover;
    width: 390px;
    height: 250px;

    align-self: center;
    border-radius: 10px;
}
.s4-img3{
    background-image: url(https://a0.muscache.com/im/pictures/2fd67464-8da1-419d-b8f7-dcb840a1be0a.jpg?im_w=720);
    width: 390px;
    height: 250px;
    background-size: cover;
    align-self: center;
    border-radius: 10px;
}

.s4-text{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -20px;
    gap: 20px;
}


.s4-p1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    
}
.s4-p1 p{
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.s4-p2 p{
    font-weight: lighter;
    color: rgb(0, 0, 0);
}
.s4-p3 h3{
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);

}


.s4-p2, .s4-p3{
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* -------sect 5------ */

.sect5{
    width: 100%;
    height: 1550px;
    background-color: rgb(255, 255, 255);
}

.tag3{
    width: 200px;
    height: 50px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.sect5-container{
    width: 100%;
    height: 100%;
    background-color:transparent;
    display: flex;
    flex-direction: column; 
    gap: 20px;
    justify-content: center;
    align-items: center;

}


.cont3{
    width: 400px;
    height: 450px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}


.s5-img i{
    float:left;
}
.s5-img1{
    width: 390px;
    height: 250px;

    align-self: center;
    border-radius: 10px;
    background-image: url(https://a0.muscache.com/im/pictures/prohost-api/Hosting-768718603770314962/original/6536ade7-983d-4da5-af2d-cb138e5cc660.jpeg?im_w=720);
    background-size: cover;
}

.s5-img2{
     background-image: url(https://a0.muscache.com/im/pictures/miso/Hosting-776780704329602920/original/e7dbe74e-ad1c-448b-bd79-90af30abbef0.jpeg?im_w=720);
    background-size: cover;
    width: 390px;
    height: 250px;

    align-self: center;
    border-radius: 10px;
}
.s5-img3{
    background-image: url(https://a0.muscache.com/im/pictures/efabaa28-f48b-44b8-bb93-265da95240dd.jpg?im_w=720);
    width: 390px;
    height: 250px;
    background-size: cover;
    align-self: center;
    border-radius: 10px;
}


.s5-text{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -20px;
    gap: 20px;
}


.s5-p1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    
}
.s5-p1 p{
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.s5-p2 p{
    font-weight: lighter;
    color: rgb(0, 0, 0);

}
.s5-p3 h3{
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);


}


.s5-p2, .s5-p3{
    width: 100%;
    display: flex;
    flex-direction: column;
} 
/* -------sect 6------ */

.sect6{
    width: 100%;
    height: 1550px;
    background-color: rgb(255, 255, 255);
}

.tag4{
    width: 200px;
    height: 50px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.sect6-container{
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column; 
    gap: 20px;
    justify-content: center;
    align-items: center;

}


.cont4{
    width: 400px;
    height: 450px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}


.s6-img i{
    float:left;
}
.s6-img1{
    width: 390px;
    height: 250px;

    align-self: center;
    border-radius: 10px;
    background-image: url(https://a0.muscache.com/im/pictures/miso/Hosting-836871967499399597/original/3a8fcf63-50a7-4580-b83f-dcd48da2958c.jpeg?im_w=720);
    background-size: cover;
}

.s6-img2{
     background-image: url(https://a0.muscache.com/im/pictures/872dcbf1-8f4c-4461-bc09-f0201e2bd12d.jpg?im_w=720);
    background-size: cover;
    width: 390px;
    height: 250px;

    align-self: center;
    border-radius: 10px;
}
.s6-img3{
    background-image: url(https://a0.muscache.com/im/pictures/monet/Luxury-578072673038532316/original/9a5abcc2-75e5-48e6-9688-69847b83175e?im_w=720);
    width: 390px;
    height: 250px;
    background-size: cover;
    align-self: center;
    border-radius: 10px;
}
.s6-text{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -20px;
    gap: 20px;
}


.s6-p1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    
}
.s6-p1 p{
    font-size: 25px;
    color: rgb(0, 0, 0);

}
.s6-p2 p{
    font-weight: lighter;
    color: rgb(0, 0, 0);

}
.s6-p3 h3{
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);


}


.s6-p2, .s6-p3{
    width: 100%;
    display: flex;
    flex-direction: column;
} 
/* -------sect 7------ */

.sect7{
    width: 100%;
    height: 1550px;
    background-color: rgb(254, 254, 254);
}

.tag5{
    width: 200px;
    height: 50px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.sect7-container{
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column; 
    gap: 20px;
    justify-content: center;
    align-items: center;

}


.cont5{
    width: 400px;
    height: 450px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}


.s7-img i{
    float:left;
}
.s7-img1{
    width: 390px;
    height: 250px;

    align-self: center;
    border-radius: 10px;
    background-image: url(https://a0.muscache.com/im/pictures/d9f4ff71-ae26-45bd-a1d9-8931b6d03119.jpg?im_w=720);
    background-size: cover;
}

.s7-img2{
     background-image: url(https://a0.muscache.com/im/pictures/miso/Hosting-51420917/original/2644c6f6-e609-459c-a051-b393de0e614b.jpeg?im_w=720);
    background-size: cover;
    width: 390px;
    height: 250px;

    align-self: center;
    border-radius: 10px;
}
.s7-img3{
    background-image: url(https://a0.muscache.com/im/pictures/2fd67464-8da1-419d-b8f7-dcb840a1be0a.jpg?im_w=720);
    width: 390px;
    height: 250px;
    background-size: cover;
    align-self: center;
    border-radius: 10px;
}

.s7-text{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -20px;
    gap: 20px;
}


.s7-p1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    
}
.s7-p1 p{
    font-size: 25px;
    color: rgb(0, 0, 0);

}
.s7-p2 p{
    font-weight: lighter;
    color: rgb(0, 0, 0);

}
.s7-p3 h3{
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);


}


.s7-p2, .s7-p3{
    width: 100%;
    display: flex;
    flex-direction: column;
} 
/* -------sect 8------ */

.sect8{
    width: 100%;
    height: 1550px;
    background-color: rgb(254, 254, 254);
}

.tag6{
    width: 200px;
    height: 50px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.sect8-container{
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column; 
    gap: 20px;
    justify-content: center;
    align-items: center;

}


.cont6{
    width: 400px;
    height: 450px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}


.s8-img i{
    float:left;
}
.s8-img1{
    width: 390px;
    height: 250px;

    align-self: center;
    border-radius: 10px;
    background-image: url(https://a0.muscache.com/im/pictures/754e98b8-7620-4a4d-972e-02857bbf92ba.jpg?im_w=720);
    background-size: cover;
}

.s8-img2{
     background-image: url(https://a0.muscache.com/im/pictures/d3978932-023f-4bd0-88e1-f45dadec41c3.jpg?im_w=720);
    background-size: cover;
    width: 390px;
    height: 250px;

    align-self: center;
    border-radius: 10px;
}
.s8-img3{
    background-image: url(https://a0.muscache.com/im/pictures/99e6ccac-fc1e-4612-898f-0aca382d1650.jpg?im_w=720);
    width: 390px;
    height: 250px;
    background-size: cover;
    align-self: center;
    border-radius: 10px;
}

.s8-text{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -20px;
    gap: 20px;
}


.s8-p1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    
}
.s8-p1 p{
    font-size: 25px;
    color: rgb(0, 0, 0);

}
.s8-p2 p{
    font-weight: lighter;
    color: rgb(0, 0, 0);

}
.s8-p3 h3{
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);


}


.s8-p2, .s8-p3{
    width: 100%;
    display: flex;
    flex-direction: column;
} 
/* -------sect 9------ */

.sect9{
    width: 100%;
    height: 1550px;
    background-color: rgb(254, 254, 254);
}

.tag7{
    width: 200px;
    height: 50px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.sect9-container{
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column; 
    gap: 20px;
    justify-content: center;
    align-items: center;

}


.cont7{
    width: 400px;
    height: 450px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}


.s9-img i{
    float:left;
}
.s9-img1{
    width: 390px;
    height: 250px;

    align-self: center;
    border-radius: 10px;
    background-image: url(https://a0.muscache.com/im/pictures/a63597b3-24d7-46de-a482-463c7802f1d4.jpg?im_w=720);
    background-size: cover;
}

.s9-img2{
     background-image: url(https://a0.muscache.com/im/pictures/afec4ce3-e3de-4fd3-8018-821dcb41ba4a.jpg?im_w=720);
    background-size: cover;
    width: 390px;
    height: 250px;

    align-self: center;
    border-radius: 10px;
}
.s9-img3{
    background-image: url(https://a0.muscache.com/im/pictures/bdfc0390-31e7-48a2-9359-2bae15fb6dc5.jpg?im_w=720);
    width: 390px;
    height: 250px;
    background-size: cover;
    align-self: center;
    border-radius: 10px;
}

.s9-text{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -20px;
    gap: 20px;
}


.s9-p1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    
}
.s9-p1 p{
    font-size: 25px;
    color: rgb(0, 0, 0);

}
.s9-p2 p{
    font-weight: lighter;
    color: rgb(0, 0, 0);

}
.s9-p3 h3{
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);


}


.s9-p2, .s9-p3{
    width: 100%;
    display: flex;
    flex-direction: column;
} 


/* ----------section REVIEW------- */

.review{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 1650px;
}

.review-container-1{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.review-container-1 h3{
    font-size: 30px;
}
.review-container-1 h1{
    font-size: 45px;
}





.review-container-2{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 45px;
}

.review-1{
    width: 550px;
    height: 380px;
    background-color: rgba(0, 0, 0, 0.08);
    box-shadow: 5px 5px 5px 0px black;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    border: 2px solid rgb(201, 197, 197);
}

.review-box{
    width: 200px;
    height: 230px;
    background-color: orange;
    align-self: center;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.review-box-img1{
    background-image: url(https://images.unsplash.com/photo-1602133187081-4874fdbd555c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGFzc3BvcnQlMjBwaG90b3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    width: 100px;
    height: 100px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 60px;

}
.review-box-img2{
    background-image: url(https://images.unsplash.com/photo-1608485439523-25b28d982428?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8cGFzc3BvcnQlMjBwaG90b3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    width: 100px;
    height: 100px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 60px;

}
.review-box-img3{
    background-image: url(https://images.unsplash.com/photo-1509839862600-309617c3201e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cGFzc3BvcnQlMjBwaG90b3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    width: 100px;
    height: 100px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 60px;

}


.review-box-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* ============newsletter===================== */
.newsletter{
    width: 100%;
    height: 300px;
    background-color: rgb(252, 255, 255);
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.newsletter-container{
    background: linear-gradient(orange, #dcd7d7a5);
    filter:blur(-3px);
    width: 1000px;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.newsletter-roll1 h1{
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
}
.newsletter-roll1{
    z-index: 1.2;
}

.newsletter-roll2 input{
    padding: 10px 15px;
    border-radius: 5px;
    border-color: white;
}

.newsletter-roll2 button{
    padding: 10px 7px;
    border-radius: 5px;
    border-color: white;
}


footer {
	background-color: #b4afaf61;
	color: #333;
	padding: 50px 0;
  }
  
  footer h4 {
	margin-bottom: 20px;
  }
  
  footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  footer ul li {
	margin-bottom: 10px;
  }
  
  footer ul li a {
	color: #666;
  }
  
  footer ul li a:hover {
	color: #333;
  }
  
  .container {
	max-width: 1200px;
	margin: 0 auto;
  }
  
  .row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  
  .col-md-6,
  .col-md-3 {
	width: 100%;
	max-width: 350px;
  }
  



/* ---------------media query--------------- */



@media screen and (min-width:320px) {
    .review-1{
        width: 310px;
    }
    .newsletter-container{
        flex-direction: column;
        max-width: 95%;
    }


}



@media screen and (min-width:375px) {
    .review-1{
        width: 350px;
    }
    .newsletter-container{
        flex-direction: column;
        max-width: 95%;
    }
    .s3-img1{
        width: 350px;
        height: 230px;
    }
    
      .s3-img2{
        width: 350px;
    }
    
      .s3-img3{
        width: 350px;
    }
    
    .s3-text {
        width: 350px;
    }
    .s4-img1{
        width: 350px;
    }
    .s4-img2{
        width: 350px;
    }
    .s4-img3{
        width: 350px;
    }
    
    .s4-text {
        width: 350px;
    }
    .s5-img{
        width: 350px;
    }
    
    .s5-text {
        width:350px;
    }
    .s6-img{
        width: 350px;
    }
    
    .s6-text {
        width: 350px;
    }
    .s7-img{
        width: 350px;
    }
    
    .s7-text {
        width: 350px;
    }
    .s8-img{
        width: 350px;
    }
    
    .s8-text {
        width: 350px;
    }
    .s9-img{
        width: 350px;
    }
    
    .s9-text {
        width: 350px;
    }
    
    .img1{
        width: 350px;
    }
    
}

@media screen and (min-width:425px) {
    .review-1{
        width: 360px;
    }

    .newsletter-container{
        flex-direction: column;
        max-width: 95%;
    }
    
}

@media screen and (min-width:768px) {
    .nav2{
        display: block;
    }
    .nav-menu{
        display: none;
    }
    .sect0{
        height: 530px;
    }
    .img1{
        width: 230px;
        height: 230px;
    }
    .img2{
        width: 230px;
        height: 230px;
    }
    .img3{
        width: 230px;
        height: 230px;
    }

    .destination-img{
        flex-direction: row;
        gap: 30px;
    }

    .sect3{
        height: 550px;
    }
    
.sect3-container{
    height: 500px;
    flex-direction: row;
}

.cont1{
    width: 250px;
    height: 450px;
}
.s3-img1{
    width: 230px;
    height: 250px;
}
.s3-text{
    width: 220px;
    
}
.s3-img2{
    width: 230px;
}
.s3-img3{
    width: 230px;
}

    .sect4{
        height: 550px;
    }
    
.sect4-container{
    height: 500px;
    flex-direction: row;
    
}

.s4-img1{
    width: 230px;
    height: 250px;
}
.s4-text{
    width: 220px;
    
}
.s4-img2{
    width: 230px;
}
.s4-img3{
    width: 230px;
}
.cont2{
    width: 250px;
    height: 450px;
}

/* ------sect5----- */
     .sect5{
        height: 550px;
    }
    
.sect5-container{
    height: 500px;
    flex-direction: row;
}

.cont3{
    width: 250px;
    height: 450px;
} 
.s5-img1{
    width: 230px;
    height: 250px;
}
.s5-text{
    width: 220px;
    
}
.s5-img2{
    width: 230px;
}
.s5-img3{
    width: 230px;
}

/* --------sect  6------------- */
     .sect6{
        height: 550px;
    }
    
.sect6-container{
    height: 500px;
    flex-direction: row;
}

.cont4{
    width: 250px;
    height: 450px;
} 
.s6-img1{
    width: 230px;
    height: 250px;
}
.s6-text{
    width: 220px;
    
}
.s6-img2{
    width: 230px;
}
.s6-img3{
    width: 230px;
}

/* -------sect   7----------- */
     .sect7{
        height: 550px;
    }
    
.sect7-container{
    height: 500px;
    flex-direction: row;
}

.cont5{
    width: 250px;
    height: 450px;
} 
.s7-img1{
    width: 230px;
    height: 250px;
}
.s7-text{
    width: 220px;
    
}
.s7-img2{
    width: 230px;
}
.s7-img3{
    width: 230px;
}
/* -------sect   8----------- */
     .sect8{
        height: 550px;
    }
    
.sect8-container{
    height: 500px;
    flex-direction: row;
}

.cont6{
    width:250px;
    height: 450px;
} 
.s8-img1{
    width: 230px;
    height: 250px;
}
.s8-text{
    width: 220px;
    
}
.s8-img2{
    width: 230px;
}
.s8-img3{
    width: 230px;
}
/* -------sect   9----------- */
     .sect9{
        height: 550px;
    }
    
.sect9-container{
    height: 500px;
    flex-direction: row;
}

.cont7{
    width: 250px;
    height: 450px;
} 

.s9-img1{
    width: 230px;
    height: 250px;
}
.s9-text{
    width: 220px;
    
}
.s9-img2{
    width: 230px;
}
.s9-img3{
    width: 230px;
}
/* --------review----------- */
.review-container-2{
    flex-direction: row;
}


.review-1{
    width:280px;
}

.review{
    height: 580px;
}


/* =======footer====== */
.col-md-6 {
    width: 50%;
  }
  
  .col-md-3 {
    width: 25%;
  }

.img1{
    width: 220px;
}

.review-1{
    width: 220px;
   
}

.review{
    height: 500px;
}

.newsletter-container{
    flex-direction: row;
    max-width: 95%;
}
}


/* --------1024px-------------- */
@media screen and (min-width:1024px) {

    /* --------review----------- */
.review-container-2{
    flex-direction: row;
    gap: 20px;
}

.img1{
    width: 320px;
}
.img2{
    width: 320px;
}
.img3{
    width: 320px;
}

.review-1{
    width: 300px;
}

.review{
    height: 500px;
}

.sect3{
    height: 550px;
}

.sect3-container{
height: 500px;
flex-direction: row;
}

.cont1{
width:300px;
height: 450px;
}
.s3-img1{
width: 280px;
height: 250px;
}
.s3-text{
width: 260px;

}
.s3-img2{
width: 280px;
}
.s3-img3{
width: 280px;
}

.sect4{
    height: 550px;
}

.sect4-container{
height: 500px;
flex-direction: row;

}

.s4-img1{
width: 280px;
height: 250px;
}
.s4-text{
width: 260px;

}
.s4-img2{
width: 280px;
}
.s4-img3{
width: 280px;
}
.cont2{
width: 300px;
height: 450px;
}

/* ------sect5----- */
 .sect5{
    height: 550px;
}

.sect5-container{
height: 500px;
flex-direction: row;
}

.cont3{
width: 300px;
height: 450px;
} 
.s5-img1{
width: 280px;
height: 250px;
}
.s5-text{
width: 260px;

}
.s5-img2{
width: 280px;
}
.s5-img3{
width: 280px;
}

/* --------sect  6------------- */
 .sect6{
    height: 550px;
}

.sect6-container{
height: 500px;
flex-direction: row;
}

.cont4{
width: 300px;
height: 450px;
} 
.s6-img1{
width: 280px;
height: 250px;
}
.s6-text{
width: 260px;

}
.s6-img2{
width: 280px;
}
.s6-img3{
width: 280px;
}

/* -------sect   7----------- */
 .sect7{
    height: 550px;
}

.sect7-container{
height: 500px;
flex-direction: row;
}

.cont5{
width: 300px;
height: 450px;
} 
.s7-img1{
width: 280px;
height: 250px;
}
.s7-text{
width: 260px;

}
.s7-img2{
width: 280px;
}
.s7-img3{
width: 280px;
}
/* -------sect   8----------- */
 .sect8{
    height: 550px;
}

.sect8-container{
height: 500px;
flex-direction: row;
}

.cont6{
width:300px;
height: 450px;
} 
.s8-img1{
width: 280px;
height: 250px;
}
.s8-text{
width: 260px;

}
.s8-img2{
width: 280px;
}
.s8-img3{
width: 280px;
}
/* -------sect   9----------- */
 .sect9{
    height: 550px;
}

.sect9-container{
height: 500px;
flex-direction: row;
}

.cont7{
width: 300px;
height: 450px;
} 

.s9-img1{
width: 280px;
height: 250px;
}
.s9-text{
width: 260px;

}
.s9-img2{
width: 280px;
}
.s9-img3{
width: 280px;
}


}
@media screen and (min-width:1440px) {
    .img1{
        width: 420px;
    }

.review-1{
    width: 400px;
}

.review{
    height: 500px;
}

.sect3{
    height: 550px;
}

.sect3-container{
height: 500px;
flex-direction: row;
}

.cont1{
width:300px;
height: 450px;
}
.s3-img1{
width: 290px;
height: 250px;
}
.s3-text{
width: 260px;

}
.s3-img2{
width: 290px;
}
.s3-img3{
width: 290px;
}

.sect4{
    height: 550px;
}

.sect4-container{
height: 500px;
flex-direction: row;

}

.s4-img1{
width: 290px;
height: 250px;
}
.s4-text{
width: 240px;

}
.s4-img2{
width: 290px;
}
.s4-img3{
width: 290px;
}
.cont2{
width: 300px;
height: 450px;
}

/* ------sect5----- */
 .sect5{
    height: 550px;
}

.sect5-container{
height: 500px;
flex-direction: row;
}

.cont3{
width: 300px;
height: 450px;
} 
.s5-img1{
width: 290px;
height: 250px;
}
.s5-text{
width: 260px;

}
.s5-img2{
width: 290px;
}
.s5-img3{
width: 290px;
}

/* --------sect  6------------- */
 .sect6{
    height: 550px;
}

.sect6-container{
height: 500px;
flex-direction: row;
}

.cont4{
width: 300px;
height: 450px;
} 
.s6-img1{
width: 290px;
height: 250px;
}
.s6-text{
width: 260px;

}
.s6-img2{
width: 290px;
}
.s6-img3{
width: 290px;
}

/* -------sect   7----------- */
 .sect7{
    height: 550px;
}

.sect7-container{
height: 500px;
flex-direction: row;
}

.cont5{
width: 300px;
height: 450px;
} 
.s7-img1{
width: 290px;
height: 250px;
}
.s7-text{
width: 260px;

}
.s7-img2{
width: 260px;
}
.s7-img3{
width: 290px;
}
/* -------sect   8----------- */
 .sect8{
    height: 550px;
}

.sect8-container{
height: 500px;
flex-direction: row;
}

.cont6{
width:300px;
height: 450px;
} 
.s8-img1{
width: 290px;
height: 250px;
}
.s8-text{
width: 260px;

}
.s8-img2{
width: 290px;
}
.s8-img3{
width: 290px;
}
/* -------sect   9----------- */
 .sect9{
    height: 550px;
}

.sect9-container{
height: 500px;
flex-direction: row;
}

.cont7{
width: 300px;
height: 450px;
} 

.s9-img1{
width: 290px;
height: 250px;
}
.s9-text{
width: 260px;

}
.s9-img2{
width: 290px;
}
.s9-img3{
width: 290px;
}
    
}
















