*{
    margin: 0;
    padding: 0;
}


.sect1{
    background-image: url(https://res.cloudinary.com/diapyzzws/image/upload/v1685620028/images/shutterstock_186964970.jpg);
    background-size: cover;
    max-width: 100%;
    height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    gap: 30px;
}

.sect1-h1 h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    color: white;
}

.sect1-p p{
    font-size: 30px;
    color: white;

}

.button-container a button{
    padding: 20px 65px;
    background-color: orange;
    font-size: 20px;
    color: black;
    border-radius: 8px;
    border: none;
    transition: 1s;
}


.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button-container a button:hover{
    background-color: orangered;

}




@media screen and (max-width:425px) {

    .sect1-h1 h1{
        font-size: 40px;
    }

    .sect1-p p{
        font-size: 20px;
    }

.button-container{
    flex-direction: column;
}

}

@media screen and (max-width:320px) {
    .sect1-p p{
        font-size: 15px;
    }
.sect1{
    height: 100vh;
}
}









































